:root {
    --background-color: #0f0f10;
    --background-card-color: #1a1a1d;
    --text-color: #e4e4e7;
    --primary-color: #E9A6A6;
    --secondary-color: #ff7b54;
    
    --border-radius: 5%;
    --font-size-large: 1.5rem;
}

html {
    scroll-behavior: smooth;
}

header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    text-decoration: none;
    color: var(--text-color); 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    bottom: 5vh;
}

.button svg {
    animation: bounce 1.5s infinite;
}

#filter-container {
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 2.5vh;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
}

#filter-container > select {
    background-color: var(--background-card-color);
    color: var(--text-color);
    border: none;
    padding: 1vh;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    min-height: 100vh;
}

#characters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vh;
}

#characters img {
    width: 37vw;
    max-width: 30vh;
    object-fit: contain;
    aspect-ratio: 1/1;
}

#characters h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: var(--font-size-large);
}

.character-card {
    border-radius: var(--border-radius);
    padding: 2vh;
    background-color: var(--background-card-color);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

@keyframes aurora-shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(8px);
    }
}

h1 {
    font-size: 7vh;
    font-weight: bold;
}

.animated-text {
    font-size: 8vh;
    font-weight: lighter;
    background: linear-gradient(
        120deg,
        #a787f1,
        #6ce3ff,
        #ff944c,
        #94f1a7,
        #a787f1
    );
    background-size: 300% 300%;
    background-clip: text;
    color: transparent;
    animation: aurora-shift 10s ease-in-out infinite;
}